html,
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}


p+br, h2+br, h1+br{
  display: none !important;
}

p:empty {
  display: none  !important;
}



p:matches(:empty, :not(:empty):not(:only-child)) {
  display: none;
}