html,
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}


p+br, h2+br, h1+br, h3+br,h4+br, li+br, ul+br, ul>br,  li>br, div>br, section>br, ol+br{
  display: none !important;
}

p:empty {
  display: none  !important;
}



p:matches(:empty, :not(:empty):not(:only-child)) {
  display: none;
}


p>img{
  width: 100% !important;
}

.post-body-content a{
  color: #34aeb5 !important;
}

/* Custom scrollbar */

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 8px; /* Add rounded corners to the track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px; /* Add rounded corners to the scrollbar itself */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px; /* Keep rounded corners on the thumb */
}
